/* Rojo: #E53935 Morado: 52263e  Negro: 1d1f20 Azul: #1976D2 Gris: #c9c9c9  Cian: #00ACC1*/

:root {
    --white: #c9c9c9;
    --background: #1d1f20;
    --background-hover: #565758;
    --primary-red: #E53935;
    --primary-blue: #1976D2;
    --primary-orange: #FF6F00;
    --primary-green: #76D219;
    --blue-gray: #f4fcff;
    --primary-violet: #6238E2;
    --background-violet-light: #EEEBFD;
    --gray: #D5D4D5;
}

@font-face {
    font-family: "Consolas";
    src: url(main/fonts/consola.ttf);
  }

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Consolas' !important;
    letter-spacing: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #1d1f20;
    color: #1d1f20;
}

label.logo{
    display: center;
    font-size: large;
    color: #c9c9c9;
    font-weight: bold;
    min-width: auto;
}
.title{
    width: 100%;
    float: left;
    font-size: larger;
    padding-bottom: 30px;
    color: #c9c9c9;
    font-weight: bold;
    text-decoration-line: underline;
}
.text{
    font-size: medium;
    color: #c9c9c9;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* nav y footer para pantallas normales */

nav{
    padding-top: 6%;
    background: #1d1f20;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}
nav ul{
    float: right;
    display: flex;
}
nav ul li{
    display: inline-block;
    line-height: 12px;
    margin: 0;
}
nav ul li a{
    color: #E53935;
    font-size: normal;
    padding: 0px 13px;
    border-radius: 3px;
    display: flex;
}
a.active,a:hover{
    color: #FF6F00;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    transition: .5s;

}
footer{
    padding-top: 6%;
    background: #1d1f20;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}
footer ul{
    float: right;
    display: flex;
}
footer ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
}
footer ul li a{
    float: center;
    color: #1976D2;
    font-size: medium;
    padding: 7px 13px;
    border-radius: 3px;
}

/* Ocultar elementos de navegación y pie de página en pantallas pequeñas */

@media screen and (max-width: 700px) {
    nav, footer ul {
        display: none;
    }
    nav.accordion-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }
    footer ul.iconos {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 700px) {
    nav.accordion-container {
        display: none;
    }
    footer ul.iconos {
        display: none;
    }

}

/* nav y footer para pantallas pequeñas */

.accordion-container {
    padding-top: 20%;
    background: #1d1f20;
    width: 100%;
    height: 64px;
  }
  
  .main-item {
    border-radius: 8px;
    padding-right: 12px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    cursor: pointer;
    background: var(--background);
    gap: 8px;
    min-width: 30%;
    min-height: 35px;
    justify-content: flex-end;
    align-content: center;
    transition: all ease-in-out 0.25s;
  }
  
  .main-item:hover {
    background-color: var(--primary-red);
    color: var(--primary-orange);
  }
  
  .main-item svg {
    color: var(--primary-red);
    transition: all ease-in-out 0.25s;
    float: right;
  }
  
  .main-item:hover svg {
    color: var(--primary-orange);
  }
  
  .main-item--open {
    color: var(--primary-orange);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--background-hover);
    transition: all 200ms;
  }
  
  .main-item--open:hover {
    color: var(--primary-orange);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--background-hover);
  }
  
  .main-item--open svg {
    color: var(--primary-orange);
  }
  
  .main-item--open:hover svg {
    color: var(--primary-orange)	;
  }
  
  .accordion-container > ul {
    max-height: 200px;
    background-color: var(--background-hover);
    list-style-type: none;
    margin: 0px;
    padding-left: 14px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
  }
  
  .main-item--open + ul {
    visibility: visible;
    min-height: 30px;
    opacity: 1;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
  }
  
  .accordion-container > ul > li {
    height: 30px;
    font-weight: normal;
    width: 100%;
    padding-top: 8px;
  }
  
  .accordion-container > ul > li:hover {
    color: var(--primary-orange);
    cursor: pointer;
  }


/* HR STYLE */

img{
    float: block;
}
.resistencia-container {
    display: flex;
    align-items: center;
}
hr.resistencia {
    border: none;
    height: 50px;
    position: relative;
    background-image: url(img/resist.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-grow: 3;
}
.cable {
    flex-grow: 6;
    width: fit-content;
    height: 2.5px;
    background-color: #c9c9c9;
}

/* FAQ STYLE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400%;
    border-radius: 1em;
    background-color: var(--background);
}

.faq-title {
    color: var(--white);
    width: 90%;
    transition: all 250ms ease-in-out;
}
  
.faq-content {
    color: var(--white);
    padding: 0.2rem 1rem 1rem 1rem;
    font-weight: 300;
    line-height: 1.5;
}
  
details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    max-width: 37.5rem;
    transition: all 0.3s ease-in-out;
}
  
details:hover {
    background-color: var(--background-hover);
}
  
details:hover svg {
    stroke: var(--primary-green);
}
  
details[open] {
    background-color: var(--background-hover);
}
  
details[open] .faq-title {
    color: var(--primary-green);
}
  
summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
}
  
summary svg {
    stroke: var(--white);
}
  
details[open] summary svg {
    stroke: var(--primary-green);
    transform: rotate(90deg);
}
  
summary:hover .faq-title {
    color: var(--primary-green);
}
  
summary::-webkit-details-marker {
    display: none;
}
  
summary:focus {
    outline: none;
}


.expand-icon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transition: all 150ms ease-out;
}